
{% assign projects = site[include.collection] | sort: 'coolness' %}

{% assign delim = '^' %}
{% capture tags %}
  {% for p in projects %}{% for tag in p.tags %}{{ tag | strip | append: delim }}{% endfor %}{% endfor %}
{% endcapture %}
{% assign tSize = tags | strip | size | minus: 1 %}
{% assign testTags = tags | strip | slice: 0, tSize | split: delim | uniq | size %}
{% assign validTags = tags | strip | slice: 0, tSize | split: delim | uniq | sort %}

<div class="isotope {{include.layout}}" data-layout="{{include.layout}}">
    {% for p in projects %}
        <div class="item-container {{include.layout}} {{ p.tags | join: '^' | downcase | replace: ' ', '-' | replace: '^', ' ' }}" data-coolness="{{ p.coolness }}" data-title="{{p.title | slugify }}">        
            <div class="item">
                {% include item/{{include.layout}}.html p=p %}
            </div>
        </div>
    {% endfor %}
    <div class="grid-sizer hidden"></div>
</div>