<section class="section landing">
    <div>
        <p>
            <span class="slide-in">
                <span><strong>Stephen Kasica</strong> MSc student in computer</span>
            </span>
            <span class="slide-in">
                <span>science at <abbr title="University of British Columbia (in Vancouver, Canada)">UBC</abbr>,
                    journalist, CU School of </span>
            </span>
            <span class="slide-in">
                <span>Long Distance Running alum, tacovore 🌮</span>
            </span>
        </p>
    </div>
</section>