// base.scss

body {
    background: $bgColor;
    max-width: 1000px;
    margin: 0 auto;
    padding: $pageGutters;
    @include breakpoint($mobileStart $mobileEnd) {
        text-align: center;
    }
}

em {
    font-style: italic;
}

p {
    font-family: $textFont;
    font-weight: $bold;
    color: $textColor;
    line-height: $lineHeight;
    font-size: ms(0);
}

h2 { font-size: ms(2);  }
h3 { font-size: ms(1);  }
h4 { font-size: ms(0);  }
h5 { font-size: ms(-1); }
h6 { font-size: ms(-2); }

h1,h2,h3,h4,h5,h6,.brand {
    font-family: $hFont;
    color: $hColor;
}

h1 { 
    color: $bgColor;
    font-size: ms(3);    
    @include breakpoint($mobileStart $mobileEnd) {
        display: inline-block;
        margin-bottom: 10px;
    }    
    span {
        padding: 0 10px;        
        background-color: $h1BgColor;
        cursor: pointer;        
    }
}

a {
    color: $linkColor;
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
        text-decoration: underline;
        color: $linkColor;
        span {
            background-color: $linkColor;
        }
    }
}

.hidden {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    
    .tooltip-text {
        visibility: hidden;
        top: 100%;
        left: 50%;
        width: 100px;                    
        margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */                    
        color: $tooltipColor;
        text-align: center;
        padding: 5px 0;
        background: none;
        position: absolute;
        z-index: 1;
        font-size: ms(-1);
    }

    &:hover .tooltip-text {
        visibility: visible;                
    }
}  // .tooltip