// base.scss
// =============================================================================
//

body {
    font-family: $textFont;
}

p {
    @include font-size($p-font-sizes);
    color: $textColor;
    font-weight: $thin;
}

h1,h2,h3,h4,h5,p {
    @include line-height($line-heights);    
}

i.fa {
    font-size: $iconSize;
}

// Headings
// =============================================================================
//

// Site title
h1 {
    @include font-size($h1-font-sizes);
    @include fontOutline($titleColor);
    color: $coverColor;
    padding-bottom: 20px;
}

// Cover subtitle
h2 {
    @include font-size($h2-font-sizes);
    color: $h2Color;
}

// Section titles
h3 {
    @include font-size($h3-font-sizes);
    padding: 50px 0;
    color: $sectionBackgroundColor;
    @include fontOutline($sectionColor);
    
    .underline {
        background-color: $sectionBackgroundColor;        
        border-bottom: $sectionUnderlineStroke solid $sectionUnderlineColor;
    }    
}

// Post titles
h4 {
    font-weight: $bold;
    font-family: $h4Font;
    color: $postTitleColor;
    > a {
        color: inherit;
    }
    @include font-size($h4-font-sizes);
    padding-bottom: 5px;
}
p.post_subtitle {
    color: $postSubtitleColor;
    @include font-size($postSubtitleFontSizes);
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

a {
    @include href($linkColor);
}

h1, h3 {
    font-family: $h1Font;
    font-weight: $h1FontWeight;
    text-transform: $headTrans;
    text-align: center;
    letter-spacing: $h1LetterSpacing;    
}

strong {
    font-weight: $bold;
}

em {
    font-style: italic;
}