

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    resize: both;
    overflow: auto;
    height: 100%;
    
    p {
        padding-top: 20px;
        @include breakpoint($laptopStart) {
            width: 33.333333%;
        }
    }
}