//
// _sass/_filter.scss
//

.filter {
    right: 50px;
    
    p {
        padding-top: 15px;
        a {
            color: $filterColor;
            font-family: $filterFont;                
            &:hover {
                text-decoration: none;                        
            }
        }        
        .checkbox {
            a {
                text-decoration: line-through;
            
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}