.header {
    padding: 15px;
    
    .section-header {
        border-bottom: $headingBorderStyle;
        padding-bottom: 5px;
    }
    
    .filter {
        padding-top: 15px;
        @include hideSmall;
        a {
            color: $filterColor;
            font-family: $filterFont;                
            &:hover {
                text-decoration: none;                        
            }
        }        
        .checkbox {
            a {
                text-decoration: line-through;
            
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}