.header {
    padding: 15px;
    
    h3 {
        border-bottom: $headingBorderWidth solid $blue;
        padding-bottom: 5px;
    }
    
    .filter {
        padding-top: 15px;
        @include hideSmall;
        .checkbox {
            a {
                text-decoration: line-through;
            
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}