
.isotope {
    height: 600px;
    
    .grid-sizer, 
    .item-container {
        &.fitRows, &.masonry {
            @include columnWidth;
            display: inline-block;
            zoom: 1;
            *display: inline;
            float: left;            
        }
        &.vertical {
            width: 100%;
            
            h4 {
                display: inline-block;
            }
        }
    }
    
    .item {
        // Section titles
        padding: 15px;
        
        p,.item-title {
            padding-bottom: 10px;
        }
        
        .nutgraf {
            @include displaySmall;
        }
        
        .content {
            @include hideSmall;
        }
        
        .tags {
            color: $tagColor;
            font-style: italic;
        }
    
    }
    
    h3 {
        a {
            color: $textColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: $linkColor;
            }
        }
    }
    
    &.vertical {
        h3 {
            font-size: ms(0);
            display: inline;
        }
        
        .item {
            padding: 5px 10px;
        }
    }
    
} // isotope


