//
// _sass/_isotope.scss
//
.isotope {
    .grid-sizer, 
    .item-container {
        &.fitRows, &.masonry {
            display: inline-block;
            zoom: 1;
            *display: inline;
            float: left;            
        }
        &.vertical {
            width: 100%;
            h4 {
                display: inline-block;
            }
        }
    }  // .item-container
    .item {
        .item-label {
            margin-top: auto;
            margin-bottom: auto;
            p {
                font-style: italic;
                font-size: 80%;
                color: #999;
                text-align: right; 
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }  // a
            }  // p
        }  // .item-label
    }  // .item
} // isotope