
.nav {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;

    @include breakpoint($mobileStart $mobileEnd) {
        position: relative;
        padding: 0;
    }
    
    ul {
        float: right;        
        padding-right: 20px;        
        @include breakpoint($mobileStart $mobileEnd) {
            width: 100%;
            float: none;
            padding: inherit;
        }
    
        li {
            list-style: none;
            display: inline;
            padding: 0 10px;
            font-size: ms(1);
            a.active i {
                color: $activeIconColor;
            }            
        }  // li
    }  // ul
} // nav