
.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px;

    @include breakpoint($mobileStart $mobileEnd) {
        position: relative;
        padding: 0;
    }

    .brand {
        font-size: ms(1);
        @include breakpoint($mobileStart $mobileEnd) {
            display: inline-block;
            margin-bottom: 10px;
        }        
        a {
            color: $bgColor;            
            text-decoration: none; 
            background: $brandBgColor;
            padding: 0 5px;
            &:hover {
                background: $linkColor;
            }
        }
        .tagline {
            @include hideSmall;            
        }
    }
    
    ul {
        float: right;        
        padding-right: 20px;        
        @include breakpoint($mobileStart $mobileEnd) {
            width: 100%;
            float: none;
            padding: inherit;
        }
    
        li {
            list-style: none;
            display: inline;
            padding: 0 10px;
            font-size: ms(1);
            a.active i {
                color: $activeIconColor;
            }            
        }  // li
    }  // ul
} // nav