
// Layout
$mobileStart: 320px;
$mobileEnd: 425px;
$tabletStart: $mobileEnd + 1px;
$tabletEnd: 768px;
$laptopStart: $tabletEnd + 1px;
$laptopEnd: 1439px;
$fourKStart: $laptopEnd + 1px;
$fourKEnd: 2560px;
$pageGutters: 10%;

// Color Palette
$white: #ffffff;
$black: #121212;
$yellow: #F6E481;
$brown: #4F4543;
$red: #D24027;
$blue: #337DAE;
$green: #8BEAD8;
$bgColor: $white;
$footerBg: $blue;
$textColor: $black;
$linkColor: lighten($blue, 0%);
$tagColor: lighten($black, 50%);
$filterColor: darken($green, 20%);

// Headings
$hColor: $textColor;
$h1BgColor: $black;
$headingBorderStyle: 2px solid $black;
$hFont: Zilla Slab, serif;

$activeIconColor: $textColor;
$tooltipColor: $textColor;
$brandBgColor: $textColor;

// Typography
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Zilla+Slab:600');
$textFont: Source Sans Pro, sans-serif;

$filterFont: $textFont;

$bold: 700;
$lineHeight: 1.25;
$modularscale: (
    base: 1em,
    ratio: 1.5,
);