
// Layout
$mobileStart: 320px;
$mobileEnd: 425px;
$tabletStart: $mobileEnd + 1px;
$tabletEnd: 768px;
$laptopStart: $tabletEnd + 1px;
$laptopEnd: 1439px;
$fourKStart: $laptopEnd + 1px;
$fourKEnd: 2560px;
$pageGutters: 10%;

// Color Palette
$white: #ffffff;
$black: #000000;
$yellow: #F6E481;
$brown: #4F4543;
$red: #D24027;
$blue: #337DAE;
$green: #359E99;

$bgColor: $white;
$textColor: $black;
$linkColor: lighten($blue, 0%);
$tagColor: lighten($green, 15%);

$hColor: $textColor;
$headingBorderWidth: 5px;
$activeIconColor: $textColor;
$tooltipColor: $textColor;
$brandBgColor: $textColor;

// Typography
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Zilla+Slab:600');
$textFont: Source Sans Pro, sans-serif;
$hFont: Zilla Slab, serif;
$bold: 700;
$lineHeight: 1.25;
$modularscale: (
    base: 1em,
    ratio: 1.5,
);