---
---

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 lang=""> <![endif]-->
<html>
    <head>
        <meta charset="{{ site.charset }}">
        <meta http-equiv="X-UA-Compatiable" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%if page.title %} {{ page.title | capitalize }} | {% endif %} {{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <script>
            /*global ga*/
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
          ga('create', '{{ site.analytics_code }}', 'auto');
          ga('send', 'pageview');
        
        </script>        
    </head>
    <body>
        <nav class="nav">
            <h1><span>{{ site.first_name }}&nbsp;{{ site.last_name }}</span></h1>
            <ul>
                {% for p in site.pages %}
                {% if p.path contains '.md' %}
                <li><a href="/{{ p.title | slugify }}" class="tooltip{%if page.title == p.title %} active{% endif %}">
                    <i class="fa {{ p.icon }}" aria-hidden="true"></i>
                    <span class="tooltip-text">{{ p.title }}</span>
                </a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {{ content }}
        <footer class="footer">
            <ul><span>
            {% for l in site.links %}
                <li><a href="{{ l.href }}" class="tooltip">
                    <i class="fa {{ l.icon }}"></i>
                    <span class="tooltip-text">{{ l.name }}</span>
                </a></li>
            {% endfor %}            
            </span></ul> 
            <p class="build">This site was last updated on {{ site.time | date_to_long_string }}</p>
        </footer>        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/js/site.js"></script>
    </body>
</html>