---
layout: base
---

{% assign projects = site[page.collectionName] | sort: 'coolness' %}

{% assign delim = '^' %}
{% capture tags %}
  {% for p in projects %}{% for tag in p.tags %}{{ tag | strip | append: delim }}{% endfor %}{% endfor %}
{% endcapture %}
{% assign tSize = tags | strip | size | minus: 1 %}
{% assign testTags = tags | strip | slice: 0, tSize | split: delim | uniq | size %}
{% assign validTags = tags | strip | slice: 0, tSize | split: delim | uniq | sort %}

<header class="header">
    <h1>{{ page.hed }}</h1>
    <h2>{{ page.content | markdownify | strip }}</h2>
    <p class="filter">Filtering {{ page.type }} by <span class="checkbox">{% for t in validTags %}<a href='#' datavalue="{{ t | downcase | replace: ' ', '-' }}" datakey="checkbox">{{ t }}</a>{% if forloop.rindex0 > 1 %}, {% elsif forloop.rindex0 == 1 %},</span> <span class="radio logic"><a href="#" datakey="logic" datavalue="xor">xor</a><a href="#" class="hidden" datavalue="or" datakey="logic">or</a><a href="#" datavalue="and" datakey="logic" class="hidden">and</a></span><span class="checkbox"> {% endif %}{% endfor %}</span>. Sorted by <span class="radio"><a href="#" datavalue="coolness" datakey="sort">coolness</a><a href="#" datakey="sort" datavalue="title" class="hidden">title</a></span> in <span class="order radio"><a href="#" datavalue="asc" datakey="order">ascending</a><a href="#" class="hidden" datavalue="desc" datakey="order">descending</a></span> order.</p>
</header>
<main class="isotope">
    {% for p in projects %}
    <div class="item-container {{ p.tags | join: '^' | downcase | replace: ' ', '-' | replace: '^', ' ' }}" coolness="{{ p.coolness }}">
        <div class="item">
            <h3 class="item-title"><a href="{{ p.link }}">{{ p.title }}</a></h3>
            
            <p class="tags">
                <!--<i class="fa fa-tags" aria-hidden="true"></i>-->
                {{ p.tags | join: ', ' | strip }}
            </p>
            
            {% if p.nutgraf %}
            <p class="nutgraf">{{ p.nutgraf }}</p>
            {% endif %}
            
            <div class="content">
                {{ p.content }}                
            </div>
            
        </div>
    </div>
    {% endfor %}
    <div class="grid-sizer hidden"></div>    
</main>
<footer class="footer">
    <ul><span>
    {% for l in site.links %}
        <li><a href="{{ l.href }}" class="tooltip">
            <i class="fa {{ l.icon }}"></i>
            <span class="tooltip-text">{{ l.name }}</span>
        </a></li>
    {% endfor %}            
    </span></ul> 
    <p class="build">This site was last updated on {{ site.time | date_to_long_string }}</p>
</footer>